# Dependencies (any level)
**/node_modules/

# Build / cache
**/.expo/
**/dist/
**/web-build/
**/.metro-health-check*
**/*.tsbuildinfo

# Local env
**/.env
**/.env*.local

# OS
.DS_Store
Thumbs.db

# Logs
**/npm-debug.*
**/yarn-debug.*
**/yarn-error.*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
